In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [2]:
customer_profiles2_df=pd.read_csv("./data/customer_profiles_table2.csv")
transactions2_df=pd.read_csv("./data/transactions_df2.csv")
terminal_profiles2_df=pd.read_csv("./data/terminal_profiles_table2.csv")

In [3]:
transactions2_df

,Unnamed: 0,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO,...,is_tuesday,is_wednesday,is_thursday,is_friday,is_saturday,is_sunday,hour_1_4,hour_2_4,hour_3_4,hour_4_4
0,0,0,2018-04-01 00:00:31,596,3156,57.16,31,0,0,0,...,0,0,0,0,0,1,1,0,0,0
1,1,1,2018-04-01 00:02:10,4961,3412,81.51,130,0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,2,2,2018-04-01 00:07:56,2,1365,146.00,476,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,3,3,2018-04-01 00:09:29,4128,8737,64.49,569,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,4,4,2018-04-01 00:10:34,927,9906,50.99,634,0,0,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437953,1437953,1437953,2018-08-28 23:57:18,1970,3790,4.07,12959838,149,0,0,...,1,0,0,0,0,0,0,0,0,1
1437954,1437954,1437954,2018-08-28 23:57:29,3342,2150,64.86,12959849,149,0,0,...,1,0,0,0,0,0,0,0,0,1
1437955,1437955,1437955,2018-08-28 23:57:49,1204,9915,45.50,12959869,149,0,0,...,1,0,0,0,0,0,0,0,0,1
1437956,1437956,1437956,2018-08-28 23:58:05,2276,5115,1.76,12959885,149,0,0,...,1,0,0,0,0,0,0,0,0,1
1437957,1437957,1437957,2018-08-28 23:58:38,4549,25,106.53,12959918,149,0,0,...,1,0,0,0,0,0,0,0,0,1

In [4]:
from sklearn.model_selection import train_test_split

In [8]:
transactions2_df.columns

Index(['Unnamed: 0', 'TRANSACTION_ID', 'TX_DATETIME', 'CUSTOMER_ID',
       'TERMINAL_ID', 'TX_AMOUNT', 'TX_TIME_SECONDS', 'TX_TIME_DAYS',
       'TX_FRAUD', 'TX_FRAUD_SCENARIO', 'is_monday', 'is_tuesday',
       'is_wednesday', 'is_thursday', 'is_friday', 'is_saturday', 'is_sunday',
       'hour_1_4', 'hour_2_4', 'hour_3_4', 'hour_4_4'],
      dtype='object')

In [22]:
X=transactions2_df[['TX_AMOUNT',
        'is_monday', 'is_tuesday',
       'is_wednesday', 'is_thursday', 'is_friday', 'is_saturday', 'is_sunday',
       'hour_1_4', 'hour_2_4', 'hour_3_4', 'hour_4_4']]  # Features
y=transactions2_df['TX_FRAUD_SCENARIO']

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [24]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [25]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9914601240646471

In [31]:
clf.predict([[123,
        0, 0,
       0, 0, 0, 0, 1,
       1, 0, 0, 0]])

array([0])

In [27]:
transactions2_df

,Unnamed: 0,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO,...,is_tuesday,is_wednesday,is_thursday,is_friday,is_saturday,is_sunday,hour_1_4,hour_2_4,hour_3_4,hour_4_4
0,0,0,2018-04-01 00:00:31,596,3156,57.16,31,0,0,0,...,0,0,0,0,0,1,1,0,0,0
1,1,1,2018-04-01 00:02:10,4961,3412,81.51,130,0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,2,2,2018-04-01 00:07:56,2,1365,146.00,476,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,3,3,2018-04-01 00:09:29,4128,8737,64.49,569,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,4,4,2018-04-01 00:10:34,927,9906,50.99,634,0,0,0,...,0,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1437953,1437953,1437953,2018-08-28 23:57:18,1970,3790,4.07,12959838,149,0,0,...,1,0,0,0,0,0,0,0,0,1
1437954,1437954,1437954,2018-08-28 23:57:29,3342,2150,64.86,12959849,149,0,0,...,1,0,0,0,0,0,0,0,0,1
1437955,1437955,1437955,2018-08-28 23:57:49,1204,9915,45.50,12959869,149,0,0,...,1,0,0,0,0,0,0,0,0,1
1437956,1437956,1437956,2018-08-28 23:58:05,2276,5115,1.76,12959885,149,0,0,...,1,0,0,0,0,0,0,0,0,1
1437957,1437957,1437957,2018-08-28 23:58:38,4549,25,106.53,12959918,149,0,0,...,1,0,0,0,0,0,0,0,0,1

In [34]:
feature_imp = pd.Series(clf.feature_importances_,index=transactions2_df.feature_names).sort_values(ascending=False)
feature_imp

AttributeError: 'DataFrame' object has no attribute 'feature_names'

In [32]:
%matplotlib inline
# Creating a bar plot
sns.barplot(x=feature_imp, y=feature_imp.index)
# Add labels to your graph
plt.xlabel('Feature Importance Score')
plt.ylabel('Features')
plt.title("Visualizing Important Features")
plt.legend()
plt.show()

NameError: name 'feature_imp' is not defined