In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

#if open via google collab
from google.colab import drive 
drive.mount('/content/gdrive')
customer_profiles_table=pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/project_sebastien/data/customer_profiles_table.csv")
transactions_df=pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/project_sebastien/data/transactions_df.csv")
terminal_profiles_table=pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/project_sebastien/data/terminal_profiles_table.csv")

1 - adapter la colonne datetime, créer des colonnes last tx et dernier jours \
2 - faire tourner random forest\
3 - créer le moteur\
4 -   \

In [2]:
customer_profiles_df=pd.read_csv("./data/customer_profiles_table.csv")
transactions_df=pd.read_csv("./data/transactions_df.csv")
terminal_profiles_df=pd.read_csv("./data/terminal_profiles_table.csv")

In [3]:
transactions_df.head()

,Unnamed: 0,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
0,0,0,2018-04-01 00:00:31,596,3156,57.16,31,0,0,0
1,1,1,2018-04-01 00:02:10,4961,3412,81.51,130,0,0,0
2,2,2,2018-04-01 00:07:56,2,1365,146.00,476,0,0,0
3,3,3,2018-04-01 00:09:29,4128,8737,64.49,569,0,0,0
4,4,4,2018-04-01 00:10:34,927,9906,50.99,634,0,0,0

In [4]:
#convert the column "TX_DATETIME" to panda datetime format
transactions_df["TX_DATETIME"] = pd.to_datetime(transactions_df["TX_DATETIME"])

In [5]:
terminal_profiles_df.head()

   Unnamed: 0  TERMINAL_ID  x_terminal_id  y_terminal_id
0           0            0      41.702200      72.032449
1           1            1       0.011437      30.233257
2           2            2      14.675589       9.233859
3           3            3      18.626021      34.556073
4           4            4      39.676747      53.881673

# Faire graphique avec la repartition transaction, fraude

# date and time transformation

In [6]:
from datetime import datetime

In [7]:
#date transaformation
# could be optimised
def func_date_monday (data1):
  
    if data1.weekday() == 0:
        return 1
    else:
        return 0
    
def func_date_tuesday (data1):
   
    if data1.weekday() == 1:
        return 1
    else:
        return 0

def func_date_wednesday (data1):
    
    if data1.weekday() == 2:
        return 1
    else:
        return 0
def func_date_thursday (data1):
    
    if data1.weekday() == 3:
        return 1
    else:
        return 0
def func_date_friday (data1):
   
    if data1.weekday() == 4:
        return 1
    else:
        return 0
def func_date_saturday (data1):
    
    if data1.weekday() == 5:
        return 1
    else:
        return 0
def func_date_sunday (data1):
   
    if data1.weekday() == 6:
        return 1
    else:
        return 0

In [8]:
# could be optimised
transactions_df['is_monday']=transactions_df.TX_DATETIME.apply(func_date_monday);
transactions_df['is_tuesday']=transactions_df.TX_DATETIME.apply(func_date_tuesday);
transactions_df['is_wednesday']=transactions_df.TX_DATETIME.apply(func_date_wednesday);
transactions_df['is_thursday']=transactions_df.TX_DATETIME.apply(func_date_thursday);
transactions_df['is_friday']=transactions_df.TX_DATETIME.apply(func_date_friday);
transactions_df['is_saturday']=transactions_df.TX_DATETIME.apply(func_date_saturday);
transactions_df['is_sunday']=transactions_df.TX_DATETIME.apply(func_date_sunday)

In [9]:
def timestamp1(data1):

    if data1.hour <=6:
        return 1
    else:
        return 0
    
def timestamp2(data1):
   
    if data1.hour >6 and data1.hour <= 12:
        return 1
    else:
        return 0
def timestamp3(data1):
  
    if data1.hour >12 and data1.hour <= 18:
        return 1
    else:
        return 0
def timestamp4(data1):
  
    if data1.hour >18:
        return 1
    else:
        return 0

In [10]:
transactions_df['hour_1_4']=transactions_df.TX_DATETIME.apply(timestamp1)
transactions_df['hour_2_4']=transactions_df.TX_DATETIME.apply(timestamp2)
transactions_df['hour_3_4']=transactions_df.TX_DATETIME.apply(timestamp3)
transactions_df['hour_4_4']=transactions_df.TX_DATETIME.apply(timestamp4)

In [11]:
def tran_hist (temp_tran_id, window_days):
#sort transaction id by date time and reindex the df
    
    transaction_id_temp_df = temp_tran_id.sort_values("TX_DATETIME")
    transaction_id_temp_df.index = transaction_id_temp_df["TX_DATETIME"]

#for loop that will sum number of transaction and average amount on defined period for 
    for period in window_days:
        sum_tran_period = transaction_id_temp_df['TX_AMOUNT'].rolling(str(period) + "d").sum()
        count_tran_period =transaction_id_temp_df['TX_AMOUNT'].rolling(str(period)+'d').count()
        average_tran_period = sum_tran_period/count_tran_period
        
        transaction_id_temp_df['average_tx_last'+ str(period) + "days"] = average_tran_period
        transaction_id_temp_df['tx_count_over_last'+ str(period) + "days"] = count_tran_period


    return transaction_id_temp_df

In [12]:
temp_bis_df=transactions_df.groupby("CUSTOMER_ID").apply(lambda x: tran_hist(x, window_days=[1,7,30]))
temp_bis_df=temp_bis_df.sort_values("Unnamed: 0").reset_index(drop=True)
transactions_df = temp_bis_df

In [15]:
#drop the irrelevant columns
transactions_df.drop("Unnamed: 0", axis=1, inplace = True)

In [16]:
transactions_df.to_csv("./data/transactions_df2.csv", index = False)
terminal_profiles_df.to_csv("./data/terminal_profiles_table2.csv", index = False)
customer_profiles_df.to_csv("./data/customer_profiles_table2.csv", index = False)