In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

#if open via google collab
from google.colab import drive 
drive.mount('/content/gdrive')
customer_profiles_table=pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/project_sebastien/data/customer_profiles_table.csv")
transactions_df=pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/project_sebastien/data/transactions_df.csv")
terminal_profiles_table=pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/project_sebastien/data/terminal_profiles_table.csv")

1 - adapter la colonne datetime, créer des colonnes last tx et dernier jours \
2 - faire tourner random forest\
3 - créer le moteur\
4 -   \

In [2]:
customer_profiles_df=pd.read_csv("./data/customer_profiles_table.csv")
transactions_df=pd.read_csv("./data/transactions_df.csv")
terminal_profiles_df=pd.read_csv("./data/terminal_profiles_table.csv")

In [3]:
customer_profiles_df.head()

,Unnamed: 0,CUSTOMER_ID,x_customer_id,y_customer_id,mean_amount,std_amount,mean_nb_tx_per_day,available_terminals,nb_terminals
0,0,0,54.881350,71.518937,62.262521,31.131260,2.179533,"[29, 87, 144, 241, 330, 858, 996, 1028, 1067, ...",78
1,1,1,42.365480,64.589411,46.570785,23.285393,3.567092,"[5, 160, 242, 378, 431, 475, 571, 762, 876, 93...",85
2,2,2,96.366276,38.344152,80.213879,40.106939,2.115580,"[316, 406, 447, 523, 968, 1200, 1318, 1365, 16...",70
3,3,3,56.804456,92.559664,11.748426,5.874213,0.348517,"[65, 94, 113, 364, 401, 433, 485, 651, 672, 77...",70
4,4,4,2.021840,83.261985,78.924891,39.462446,3.480049,"[372, 614, 774, 1362, 1446, 1564, 1637, 1939, ...",65

In [4]:
transactions_df.dtypes

Unnamed: 0             int64
TRANSACTION_ID         int64
TX_DATETIME           object
CUSTOMER_ID            int64
TERMINAL_ID            int64
TX_AMOUNT            float64
TX_TIME_SECONDS        int64
TX_TIME_DAYS           int64
TX_FRAUD               int64
TX_FRAUD_SCENARIO      int64
dtype: object

In [5]:
terminal_profiles_df.head()

   Unnamed: 0  TERMINAL_ID  x_terminal_id  y_terminal_id
0           0            0      41.702200      72.032449
1           1            1       0.011437      30.233257
2           2            2      14.675589       9.233859
3           3            3      18.626021      34.556073
4           4            4      39.676747      53.881673

# Faire graphique avec la repartition transaction, fraude

# date and time transformation

In [6]:
from datetime import datetime

In [7]:
#date transaformation
# could be optimised
def func_date_monday (data1):
    
    temp = pd.to_datetime(data1)    
    if temp.weekday() == 0:
        return 1
    else:
        return 0
    
def func_date_tuesday (data1):
    
    temp = pd.to_datetime(data1)    
    if temp.weekday() == 1:
        return 1
    else:
        return 0

def func_date_wednesday (data1):
    
    temp = pd.to_datetime(data1)    
    if temp.weekday() == 2:
        return 1
    else:
        return 0
def func_date_thursday (data1):
    
    temp = pd.to_datetime(data1)    
    if temp.weekday() == 3:
        return 1
    else:
        return 0
def func_date_friday (data1):
    
    temp = pd.to_datetime(data1)    
    if temp.weekday() == 4:
        return 1
    else:
        return 0
def func_date_saturday (data1):
    
    temp = pd.to_datetime(data1)    
    if temp.weekday() == 5:
        return 1
    else:
        return 0
def func_date_sunday (data1):
    
    temp = pd.to_datetime(data1)    
    if temp.weekday() == 6:
        return 1
    else:
        return 0

In [8]:
# could be optimised
transactions_df['is_monday']=transactions_df.TX_DATETIME.apply(func_date_monday);
transactions_df['is_tuesday']=transactions_df.TX_DATETIME.apply(func_date_tuesday);
transactions_df['is_wednesday']=transactions_df.TX_DATETIME.apply(func_date_wednesday);
transactions_df['is_thursday']=transactions_df.TX_DATETIME.apply(func_date_thursday);
transactions_df['is_friday']=transactions_df.TX_DATETIME.apply(func_date_friday);
transactions_df['is_saturday']=transactions_df.TX_DATETIME.apply(func_date_saturday);
transactions_df['is_sunday']=transactions_df.TX_DATETIME.apply(func_date_sunday)

In [9]:
def timestamp1(data1):
    
    temp = pd.to_datetime(data1)    
    if temp.hour <=6:
        return 1
    else:
        return 0
    
def timestamp2(data1):
    
    temp = pd.to_datetime(data1)    
    if temp.hour >6 and temp.hour <= 12:
        return 1
    else:
        return 0
def timestamp3(data1):
    
    temp = pd.to_datetime(data1)    
    if temp.hour >12 and temp.hour <= 18:
        return 1
    else:
        return 0
def timestamp4(data1):
    
    temp = pd.to_datetime(data1)    
    if temp.hour >18:
        return 1
    else:
        return 0

In [10]:
transactions_df['hour_1_4']=transactions_df.TX_DATETIME.apply(timestamp1)
transactions_df['hour_2_4']=transactions_df.TX_DATETIME.apply(timestamp2)
transactions_df['hour_3_4']=transactions_df.TX_DATETIME.apply(timestamp3)
transactions_df['hour_4_4']=transactions_df.TX_DATETIME.apply(timestamp4)

In [11]:
transactions_df.sample(10)

,Unnamed: 0,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO,...,is_tuesday,is_wednesday,is_thursday,is_friday,is_saturday,is_sunday,hour_1_4,hour_2_4,hour_3_4,hour_4_4
994283,994283,994283,2018-07-13 14:18:21,3048,24,23.53,8950701,103,0,0,...,0,0,0,1,0,0,0,0,1,0
16881,16881,16881,2018-04-02 15:54:32,4587,8032,82.57,143672,1,0,0,...,0,0,0,0,0,0,0,0,1,0
835328,835328,835328,2018-06-27 05:45:08,3410,754,72.43,7537508,87,0,0,...,0,1,0,0,0,0,1,0,0,0
187521,187521,187521,2018-04-20 13:03:40,3231,3417,15.76,1688620,19,0,0,...,0,0,0,1,0,0,0,0,1,0
707810,707810,707810,2018-06-13 16:36:05,1092,3066,121.74,6366965,73,0,0,...,0,1,0,0,0,0,0,0,1,0
112622,112622,112622,2018-04-12 15:41:19,2211,5206,168.39,1006879,11,0,0,...,0,0,1,0,0,0,0,0,1,0
538391,538391,538391,2018-05-27 05:14:28,1941,9684,3.57,4857268,56,0,0,...,0,0,0,0,0,1,1,0,0,0
711716,711716,711716,2018-06-14 07:44:24,329,8125,70.75,6421464,74,0,0,...,0,0,1,0,0,0,0,1,0,0
681660,681660,681660,2018-06-11 04:38:10,4558,6255,75.50,6151090,71,0,0,...,0,0,0,0,0,0,1,0,0,0
202439,202439,202439,2018-04-22 05:52:01,118,2008,93.43,1835521,21,0,0,...,0,0,0,0,0,1,1,0,0,0

In [12]:
transactions_df2 = transactions_df

In [13]:
transactions_df2.to_csv("./data/transactions_df2.csv", index = False)
terminal_profiles_df.to_csv("./data/terminal_profiles_table2.csv", index = False)
customer_profiles_df.to_csv("./data/customer_profiles_table2.csv", index = False)