In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

#if open via google collab
from google.colab import drive 
drive.mount('/content/gdrive')
customer_profiles_table=pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/project_sebastien/data/customer_profiles_table.csv")
transactions_df=pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/project_sebastien/data/transactions_df.csv")
terminal_profiles_table=pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/project_sebastien/data/terminal_profiles_table.csv")

1 - adapter la colonne datetime, créer des colonnes last tx et dernier jours \
2 - faire tourner random forest\
3 - créer le moteur\
4 -   \

In [25]:
customer_profiles_df=pd.read_csv("./data/customer_profiles_table.csv")
transactions_df=pd.read_csv("./data/transactions_df.csv")
terminal_profiles_df=pd.read_csv("./data/terminal_profiles_table.csv")

In [26]:
transactions_df.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
0,0,2018-04-01 00:00:31,596,298,57.16,31,0,0,0
1,1,2018-04-01 00:02:10,4961,441,81.51,130,0,0,0
2,2,2018-04-01 00:07:56,2,316,146.00,476,0,0,0
3,3,2018-04-01 00:09:29,4128,370,64.49,569,0,0,0
4,4,2018-04-01 00:10:34,927,415,50.99,634,0,0,0

In [27]:
#convert the column "TX_DATETIME" to panda datetime format
transactions_df["TX_DATETIME"] = pd.to_datetime(transactions_df["TX_DATETIME"])

In [28]:
terminal_profiles_df.head()

   TERMINAL_ID  x_terminal_id  y_terminal_id
0            0      41.702200      72.032449
1            1       0.011437      30.233257
2            2      14.675589       9.233859
3            3      18.626021      34.556073
4            4      39.676747      53.881673

# Faire graphique avec la repartition transaction, fraude

# date and time transformation

In [29]:
from datetime import datetime

In [30]:
#date transaformation
# could be optimised
def func_date_monday (data1):
  
    if data1.weekday() == 0:
        return 1
    else:
        return 0
    
def func_date_tuesday (data1):
   
    if data1.weekday() == 1:
        return 1
    else:
        return 0

def func_date_wednesday (data1):
    
    if data1.weekday() == 2:
        return 1
    else:
        return 0
def func_date_thursday (data1):
    
    if data1.weekday() == 3:
        return 1
    else:
        return 0
def func_date_friday (data1):
   
    if data1.weekday() == 4:
        return 1
    else:
        return 0
def func_date_saturday (data1):
    
    if data1.weekday() == 5:
        return 1
    else:
        return 0
def func_date_sunday (data1):
   
    if data1.weekday() == 6:
        return 1
    else:
        return 0

In [31]:
# could be optimised
transactions_df["is_monday"]=transactions_df.TX_DATETIME.apply(func_date_monday);
transactions_df["is_tuesday"]=transactions_df.TX_DATETIME.apply(func_date_tuesday);
transactions_df["is_wednesday"]=transactions_df.TX_DATETIME.apply(func_date_wednesday);
transactions_df["is_thursday"]=transactions_df.TX_DATETIME.apply(func_date_thursday);
transactions_df["is_friday"]=transactions_df.TX_DATETIME.apply(func_date_friday);
transactions_df["is_saturday"]=transactions_df.TX_DATETIME.apply(func_date_saturday);
transactions_df["is_sunday"]=transactions_df.TX_DATETIME.apply(func_date_sunday)

In [32]:
def timestamp1(data1):

    if data1.hour <=6:
        return 1
    else:
        return 0
    
def timestamp2(data1):
   
    if data1.hour >6 and data1.hour <= 12:
        return 1
    else:
        return 0
def timestamp3(data1):
  
    if data1.hour >12 and data1.hour <= 18:
        return 1
    else:
        return 0
def timestamp4(data1):
  
    if data1.hour >18:
        return 1
    else:
        return 0

In [33]:
transactions_df["hour_1_4"]=transactions_df.TX_DATETIME.apply(timestamp1)
transactions_df["hour_2_4"]=transactions_df.TX_DATETIME.apply(timestamp2)
transactions_df["hour_3_4"]=transactions_df.TX_DATETIME.apply(timestamp3)
transactions_df["hour_4_4"]=transactions_df.TX_DATETIME.apply(timestamp4)

In [34]:
def tran_hist (temp_tran_id, window_days):
#sort transaction id by date time and reindex the df
    
    transaction_id_temp_df = temp_tran_id.sort_values("TX_DATETIME")
    transaction_id_temp_df.index = transaction_id_temp_df["TX_DATETIME"]

#for loop that will sum number of transaction and average amount on defined period for 
    for period in window_days:
        sum_tran_period = transaction_id_temp_df["TX_AMOUNT"].rolling(str(period) + "d").sum()
        count_tran_period =transaction_id_temp_df["TX_AMOUNT"].rolling(str(period)+"d").count()
        average_tran_period = sum_tran_period/count_tran_period
        
        transaction_id_temp_df["average_tx_last"+ str(period) + "days"] = average_tran_period
        transaction_id_temp_df["tx_count_over_last"+ str(period) + "days"] = count_tran_period


    return transaction_id_temp_df

In [35]:
# create columns with rolling transaction history 
temp_bis_df=transactions_df.groupby("CUSTOMER_ID").apply(lambda x: tran_hist(x, window_days=[1,7,30]))
temp_bis_df=temp_bis_df.sort_values("TX_TIME_SECONDS").reset_index(drop=True)
transactions_df = temp_bis_df

In [36]:
def terminal_hist (terminal_id, window_days, period_uncertainty = 10):

#sort terminaid by date time and reindex the df
    
    terminal_id_temp_df = terminal_id.sort_values("TX_DATETIME")
    terminal_id_temp_df.index = terminal_id_temp_df["TX_DATETIME"]

#for loop that will sum number of transaction and average amount on defined period for 
    for period in window_days:
        count_genuine_tran_period = terminal_id_temp_df["TX_FRAUD"].rolling(min_periods= period_uncertainty, 
                                                                            window = (str(period) + "d")).count()
        count_fraudulent__tran_period =terminal_id_temp_df["TX_FRAUD"].rolling(str(period)+"d").sum()
        fraud_rate_period = count_fraudulent__tran_period/count_genuine_tran_period
        
        terminal_id_temp_df["average_terminal_fraud_rate_last"+ str(period) + "days"] = fraud_rate_period


    return terminal_id_temp_df

In [37]:
# create % fraudulent transaction on terminal ID linked to scenario number 2

temp_bis_df=transactions_df.groupby("TERMINAL_ID").apply(lambda x: terminal_hist(x, window_days =[15,30]))
temp_bis_df=temp_bis_df.sort_values("TX_TIME_SECONDS").reset_index(drop=True)
transactions_df = temp_bis_df

In [38]:
transactions_df.sample(15)

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO,is_monday,...,hour_3_4,hour_4_4,average_tx_last1days,tx_count_over_last1days,average_tx_last7days,tx_count_over_last7days,average_tx_last30days,tx_count_over_last30days,average_terminal_fraud_rate_last15days,average_terminal_fraud_rate_last30days
1167841,1167841,2018-08-01 04:58:41,2856,306,69.78,10558721,122,0,0,0,...,0,0,59.098750,8.0,56.558529,34.0,61.439921,127.0,0.000000,0.000000
344,344,2018-04-01 02:55:18,4858,727,9.61,10518,0,0,0,0,...,0,0,9.610000,1.0,9.610000,1.0,9.610000,1.0,NaN,NaN
1084236,1084236,2018-07-23 09:44:41,4188,871,97.80,9798281,113,0,0,1,...,0,0,72.030000,3.0,56.278462,13.0,64.749857,70.0,0.007246,0.003759
1247449,1247449,2018-08-09 10:39:53,4729,794,76.46,11270393,130,1,2,0,...,0,0,64.117500,4.0,58.838947,19.0,66.748025,81.0,1.000000,0.508083
1641138,1641138,2018-09-19 13:25:21,2517,948,4.47,14822721,171,0,0,0,...,1,0,3.115000,2.0,12.862500,8.0,11.980513,39.0,0.000000,0.000000
1446848,1446848,2018-08-30 09:20:30,2599,107,54.49,13080030,151,0,0,0,...,0,0,42.860000,5.0,38.392143,28.0,43.345120,125.0,0.557895,0.770492
1608332,1608332,2018-09-16 07:29:48,3188,29,112.57,14542188,168,0,0,0,...,0,0,75.146667,6.0,80.281364,22.0,78.647327,101.0,0.014085,0.011321
433583,433583,2018-05-16 09:02:51,725,516,67.19,3920571,45,0,0,0,...,0,0,81.875000,2.0,80.540714,14.0,89.043333,84.0,0.000000,0.000000
808572,808572,2018-06-24 12:19:12,2807,815,46.05,7301952,84,0,0,0,...,0,0,110.653333,3.0,98.186842,19.0,89.232187,96.0,0.000000,0.000000
1394119,1394119,2018-08-24 15:59:24,3046,622,21.73,12585564,145,0,0,0,...,1,0,17.520000,4.0,26.534737,19.0,31.106042,96.0,0.005376,0.002646
85797,85797,2018-04-09 22:40:45,1986,173,29.14,772845,8,0,0,1,...,0,1,15.276667,6.0,13.588571,28.0,13.784865,37.0,0.000000,0.000000
808973,808973,2018-06-24 12:52:27,4143,576,19.12,7303947,84,0,0,0,...,0,0,19.780000,4.0,29.639545,22.0,39.753962,106.0,0.296296,0.650735
1716138,1716138,2018-09-27 11:11:12,3928,961,43.68,15505872,179,0,0,0,...,0,0,34.560000,8.0,34.306875,32.0,40.268000,100.0,0.010204,0.005236
807990,807990,2018-06-24 11:24:10,1576,458,108.09,7298650,84,0,0,0,...,0,0,73.462500,4.0,66.130870,23.0,62.774375,80.0,0.912088,0.928775
752199,752199,2018-06-18 13:29:17,4557,648,53.48,6787757,78,0,0,1,...,1,0,28.026667,3.0,73.250952,21.0,73.888037,107.0,0.006993,0.003185

In [39]:
transactions_df["average_terminal_fraud_rate_last30days"].fillna(value=0)
transactions_df["average_terminal_fraud_rate_last30days"].fillna(value=0)

0          0.000000
1          0.000000
2          0.000000
3          0.000000
4          0.000000
             ...
1750043    0.002899
1750044    0.008065
1750045    0.000000
1750046    0.266458
1750047    0.016393
Name: average_terminal_fraud_rate_last30days, Length: 1750048, dtype: float64

#save file
transactions_df.to_csv("./data/transactions_df2.csv", index = False)
terminal_profiles_df.to_csv("./data/terminal_profiles_table2.csv", index = False)
customer_profiles_df.to_csv("./data/customer_profiles_table2.csv", index = False)

In [ ]:
trans